{deps, [
    {proper, ".*", {git, "https://github.com/manopapad/proper.git", "master"}}
]}.

{port_specs, [
    {"priv/hqueue.so", ["c_src/hqueue*.c"]}
]}.
{port_env, [
    {".*", "CFLAGS", "$CFLAGS -g -Wall -Werror -DHQ_ENIF_ALLOC -O3"}
    %% {".*", "CFLAGS", "$CFLAGS -g -Wall -Werror -Wextra"}
]}.
{eunit_opts, [verbose]}.
{erl_opts, [debug_info]}.
